@media (max-width: 75em) {
  body {
    background-size: auto;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 60%;
  }

  .grid--2-col {
    grid-template-columns: repeat(1, 1fr);
  }

  .budget-block:last-child {
    margin-bottom: 10rem;
  }

  .heading-primary {
    font-size: 4.8rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .budget-userInputForm input,
  .budget-userInputForm select {
    width: 90%;
  }

  .budget-block:hover,
  .budget-userInput input:hover,
  .list-item:hover,
  .btn--add:hover {
    transform: none;
    letter-spacing: normal;
  }
}
